@keyframes breathe {
	0% {
		opacity: 0;
	}
	50% {
		opacity: .5;
	}
	100% {
		opacity: 0;
	}
}

@keyframes scroll {
	0% {
		background-position: 0% 73%;
	}
	50% {
		background-position: 100% 28%;
	}
	100% {
		background-position: 0% 73%;
	}
}

@keyframes floating {
	0% {
		transform: translate(0, 0px);
	}
	50% {
		transform: translate(0, -5px);
	}
	100% {
		transform: translate(0, -0px);
	}
}

.nav-wrapper {
	position: fixed;
	width: 100%;
	height: 10%;
	transition: all .5s ease;
}

.nav-wrapperbg {
	position: fixed;
	background-color: var(--bg);
	width: 100%;
	height: 10%;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	transition: all .5s ease;
}

.container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: .5rem 12rem;
}

.nav-wrapper h1,
.nav-wrapperbg h1 {
	color: var(--secondary);
}

.nav-wrapper ul,
.nav-wrapperbg ul {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.nav-wrapper li,
.nav-wrapperbg li {
	list-style: none;
	margin: 0 1rem;
}

.nav-wrapper a,
.nav-wrapperbg a {
	text-decoration: none;
	color: var(--secondary);
	font-size: 1.2rem;
}

.centered {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.home-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
	height: 100vh;
	width: 100%;
}

.slidedown {
	position: fixed;
	bottom: 10px;
	animation: breathe 3s infinite;
	transition: all .5s ease;
}

.hidden {
	display: none;
}

.home-about {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
}

.rightside {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	width: 50%;
	height: 100vh;
}

.rightside h2 {
	color: var(--secondary);
	font-size: 2rem;
	font-weight: bold;
}

.rightside p {
	font-size: 1.2rem;
	margin-top: 2rem;
	line-height: 1.5;
}

.rightside h3 {
	font-size: 1.1rem;
	font-weight: normal;
	line-height: 1.5;
}

.title {
	font-size: 7rem;
	margin: 0;
	color: var(--white);
	display: flex;
	flex-direction: column;
}

.title::after {
	content: " Mauricio";
	color: var(--secondary);
}

.firstcolor {
	color: var(--white);
}

#homelink,
#aboutlink,
#projectlink {
	transition: all .5s ease;
}

#homelink:hover,
#aboutlink:hover,
#projectlink:hover {
	font-size: 22px;
}

.logo {
	animation-name: floating;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	cursor: pointer;
}

.aboutmeBtn {
	color: var(--secondary);
	font-family: 'Aeonik', sans-serif;
	font-weight: bold;
}

.aboutmeBtn:hover {
	cursor: pointer;
}

.opacity0 {
	opacity: 0;
}
/* GAME SECTION -- GAME SECTION -- GAME SECTION -- GAME SECTION -- GAME SECTION -- GAME SECTION -- */

.game,
.firstscreen {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
	opacity: 100%;
	transition: all 1s ease;
}

.buttons button {
	border: 2px solid var(--secondary);
	background-color: transparent;
	padding: 10px;
	transition: all .5s ease;
	font-family: 'Aeonik', sans-serif;
	font-size: 16px;
	font-weight: 500;
}

.buttons button:hover {
	cursor: pointer;
	background-color: var(--secondary);
	color: var(--bg);
}

/* GAME SECTION -- GAME SECTION -- GAME SECTION -- GAME SECTION -- GAME SECTION -- GAME SECTION -- */

/* ABOUT SECTION -- ABOUT SECTION -- ABOUT SECTION -- ABOUT SECTION -- ABOUT SECTION -- ABOUT SECTION -- */

.about-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	width: 60%;
	margin-top: 10%;
}

.about-container h2 {
	color: var(--secondary);
	font-size: 2rem;
	font-weight: bold;
}

.about-container p {
	font-size: 1.2rem;
	margin-top: 2rem;
	line-height: 1.5;
}

.tag {
/*	background-color: rgba(116, 116, 116, 0.288);
	padding: 1px 4px;
	border-radius: 5px;
	*/
	color: var(--secondary);
	font-weight: 500;
}

.alt-text{
	color: rgb(128, 128, 128);
	font-size: 1rem;
	text-transform: uppercase;
	margin-left: 50px;
}

.studies p:before{
	content: "■";
	width: 100%;
	height: 1px;
	color: var(--secondary);
	margin-top: 1rem;
	margin-right: 10px;
	margin-left: 20px;
	margin-bottom: 1rem;
}

.skillslist{
	display: flex;
	flex-direction: column;
}

.skillsul{
	list-style-type: none;
}

.skillsul p{
	color: var(--secondary);
	font-weight: bold;
}

.skillsul li{
	margin-bottom: 20px;
}

/* ABOUT SECTION -- ABOUT SECTION -- ABOUT SECTION -- ABOUT SECTION -- ABOUT SECTION -- ABOUT SECTION -- */
